<h1>My Clothes</h1>

<%= link_to "Add a new garment", new_garment_path %>

<% if @garments.empty? %>
  <p>You haven't added any garments yet.</p>
<% else %>
  <ul>
    <% @garments.each do |garment| %>
      <li>
        <%= link_to garment.name, garment %> - <%= garment.color %> - <%= garment.category.name %>
        <%= link_to "Edit this garment", edit_garment_path(garment) %>
        <%= button_to "Delete", garment, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
<% end %>
