<% content_for :page_title, "Sign up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col gap-4" }) do |f| %>
  <%= render "devise/shared/field", form: f, attribute: :username, type: :text, label: "Username", options: { autofocus: true, autocomplete: "username" } %>

  <%= render "devise/shared/field", form: f, attribute: :email, type: :email, label: "Email", options: { autocomplete: "email" } %>

  <div>
    <%= render "devise/shared/field", form: f, attribute: :password, type: :password, label: "Password", options: { automplete: "new-password" } %>

    <% if @minimum_password_length %>
      <p class="text-caption text-zinc-500 mt-1"><%= @minimum_password_length %> characters minimum</p>
    <% end %>
  </div>

  <%= render "devise/shared/field", form: f, attribute: :password_confirmation, type: :password, label: "Confirm password", options: { autocomplete: "new-password" } %>

  <%= f.submit "Sign up", class: "btn-base bg-zinc-900 text-champagne hover:bg-zinc-700 w-full" %>
<% end %>

<%= render "devise/shared/links" %>
