<% content_for :page_title, "Change your password" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "flex flex-col gap-4" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div>
    <%= render "devise/shared/field", form: f, attribute: :password, type: :password,
          label: "New password", options: { autofocus: true, autocomplete: "new-password" } %>
    <% if @minimum_password_length %>
      <p class="text-caption text-zinc-500 mt-1"><%= @minimum_password_length %> characters minimum</p>
    <% end %>
  </div>

  <%= render "devise/shared/field", form: f, attribute: :password_confirmation, type: :password,
        label: "Confirm new password", options: { autocomplete: "new-password" } %>

  <%= f.submit "Change my password", class: "btn-base bg-zinc-900 text-champagne hover:bg-zinc-700 w-full" %>
<% end %>

<%= render "devise/shared/links" %>
