<nav class="bg-zinc-800 py-4 px-8 flex items-center justify-between">
  <div class="flex items-center gap-2">
    <!-- Logo -->
    <% if user_signed_in? %>
      <%= link_to "Closet /", garments_path, class: "text-champagne hover:text-white text-lg font-bold" %>
      <%= link_to "Dressing", outfits_path, class: "text-champagne hover:text-white text-lg font-bold" %>
    <% end %>
  </div>
  <div class="flex gap-4">
    <% if user_signed_in? %>
      <span class="text-champagne hover:text-white text-sm font-medium"><%= current_user.username %></span>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-champagne hover:text-white text-sm font-medium" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "text-champagne hover:text-white text-sm font-medium" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "text-champagne hover:text-white text-sm font-medium" %>
    <% end %>
  </div>
</nav>
