<% content_for :page_title, "Log in" %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-4 "}) do |f| %>
  <%= render "devise/shared/field", form: f, attribute: :email, type: :email, label: :"Email", options: { autofocus: true, autocomplete: "email" } %>

  <%= render "devise/shared/field", form: f, attribute: :password, type: :password, label: "Password", options: { autocomplete: "current-password" } %>

  <% if devise_mapping.rememberable? %>
    <label class="flex items-center gap-2 text-caption text-zinc-700">
      <%= f.check_box :remember_me, class: "accent-zinc-900 size-4" %>
      Remember me
    </label>
  <% end %>

  <%= f.submit "Log in", class: "btn-base bg-zinc-900 text-champagne hover:bg-zinc-700 w-full" %>
<% end %>

<%= render "devise/shared/links" %>
