<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="font-body">
    <header class="sticky top-0 z-50">
      <%= render "shared/navbar" %>
    </header>


    <main class="<%= "pb-13 md:pb-0" if user_signed_in? %>">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
    <% if user_signed_in? %>
      <div data-controller="bottom-sheet">
        <%= render "shared/bottom_nav" %>
        <%= render "shared/create_sheet" %>
      </div>
    <% end %>
  </body>
</html>
